@{
    ViewData["Title"] = "Admin Control";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to <a href="https://localhost:5001/Movie/MoviesList"> Movie List</a>.</p>
    <p><a href="https://localhost:5001/Movie/CreateNewMovie"> Add New Movie</a>.</p>
    <p>Go to <a href="https://localhost:5001/Actor/ActorsList"> Actor List</a>.</p>
    <p><a href="https://localhost:5001/Actor/CreateNewActor"> Add New Actor</a>.</p>
    <p><a href="https://localhost:5001/Home/CreateNewUser"> Add New User</a>.</p>

</div>
