@model MovieUI.Models.LoginVM
<div class="container">
    <h3>Add New User: </h3>
    @using (Html.BeginForm("CreateNewUser", "Home", FormMethod.Post))
    {
        <div>
            <table border="1" class="table table-bordered" style="background-color:white;width:500px;">
                <tbody>
                    <tr>
                        <td>
                            User Name
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.UserName, new {@Value = "Enter User Name", @class = "red" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                           Password
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Password, new {@Value = "Enter Password", @class = "red" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                           is Admin?
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => m.isAdmin)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="btn-primary" />
                            
                        </td>
                    </tr>
                        <p><a href="https://localhost:5001/Home/AdminIndex"> Back</a>.</p>
                </tbody>
            </table>
        </div>
    }
</div>